:root {
    --color-amarillo: #ECD078;
    --color-naranja: #D95B43;
    --color-rojo: #C02942;
    --fuente-titulo: "Arial";

      --color-black: #000;
      --color-white: #fff;
      --color-primary: ...;
      --color-secondary: ...;
  
      
      --font-heading: ...;
      --font-body: ...;
  
  
      --gap-s: 0.9rem;
      --gap-m: 1rem;
      --gap-l: 1.5rem;
      --gap-xl: 2rem;
      --gap-xxl: 3rem;
  }


h1 {
    color: var(--color-naranja);
    font-family: var(--fuente-titulo);
    border: 2px solid #D95B43;
}

.titulo {
    padding: var(--separacion);
    text-transform: uppercase;
    color: #D95B43;
}


