.boton {
    border-radius: 2rem;
    background: gray;
    color: white;
    border: 1px solid black;
}

.boton--desactivado {
    opacity: .5;
}

.aside{
    float: left;
    width: 10%;
    background-color: lightgrey;
    text-align: center;
}